<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/overrides.css">

    <!--this is a temporary overriding file - normally this would go in a sass module-->
    <link rel="stylesheet" href="css/main.css">
    <title>.:Roku Flashback:.</title>
</head>



<body>

    <main id="app">
        <header id="main-header">
            <div class="html_header">
                <div class="html_logo">
                    <img v-if="authenticated" src="/images-roku/roku_logo.png" alt="Roku logo" width="90"><span
                        hidden>FlashBack</span>
                </div>

                <div>
                    <nav class="float-right">
                        <ul v-if="authenticated" class="html_power">
                            <li @click="logUserOut"><img src="/images-roku/power-button.png" alt="power button"></i>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </header>


        <router-view @setauthenticated="loggedIn" id="render-container"></router-view>
    </main>

    <footer><p>© 2023 _ROKU FLASHBACK_</p></footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="/js/main.js" type="module" defer></script>
</body>

</html>