body{
    background-image: url(../../images/background-film-roll.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:contain;
    }

.logo-land-page img{
    float: inline-end;
    margin-top: 20%;
    margin-right: 10%;
    width: 20%;
    height: auto;
}